UniLibrary/.vscode
UniLibrary/bin
UniLibrary/obj
UniLibrary/Properties
.vscode/launch.json
.vscode/tasks.json
UniLibrary/.vs/UniLibrary/v17/.suo
UniLibrary/.vs/UniLibrary/v17/.futdcache.v2
UniLibrary/.vs/UniLibrary/FileContentIndex/read.lock
UniLibrary/UniLibrary.csproj.user
UniLibrary/UniLibrary.sln
UniLibrary/.vs/ProjectEvaluation/unilibrary.metadata.v5.1
UniLibrary/.vs/ProjectEvaluation/unilibrary.projects.v5.1
UniLibrary/.vs/UniLibrary/DesignTimeBuild/.dtbcache.v2
UniLibrary/.vs/UniLibrary/FileContentIndex/0a75b68b-f11c-4be7-8a52-b07b00cadf31.vsidx
UniLibrary/.vs/UniLibrary/FileContentIndex/0aaba80d-6400-4538-8fba-17d4c76a2109.vsidx
UniLibrary/.vs/UniLibrary/FileContentIndex/b9e8ba93-0ba1-43ef-bdfa-72b7feb7205b.vsidx
UniLibrary/.vs/UniLibrary/FileContentIndex/d3fa955e-d426-4932-82dd-d5c9f50a9823.vsidx
